<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Shoping.io</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
  <div class="center">
    <h1>Email Authentication</h1>
    <form action="/auth/verify" method="post">
      <div class="txt_field">
        <input type="text" id="OTP" name="OTP" required />
        <label>OTP</label>
      </div>
      <button class="button1 zoom" type="submit">Verify</button>
    </form>
    {{#if msg }}
    <h4 class="alert alert-danger mt-4">{{msg}}</h4>
    {{/if}}
  </div>
</body>

</html>